<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergRentalRazor</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NavBar.css" />
    @* <link rel="stylesheet" href="~/FribergRentalRazor.styles.css" asp-append-version="true" /> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    @{
        if (string.IsNullOrEmpty(Context.Request.Cookies["SessionToken"]))
        {
            Context.Response.Redirect("Login/SessionExpired");
        }
    }
    <header>
        <nav class="navbar">
            <a asp-area="" asp-page="/Index"><img class="logo" src="~/images/friberg_logo.png" /></a>
            <div class="nav-item">
                <a asp-area="" asp-page="/Admin/ManageContent/Cars/Index"><button class="nav-button">Manage Cars</button></a>
            </div>
            <div class="nav-item">
            <a asp-area="" asp-page="/Admin/ManageContent/AppUsers/Index"><button class="nav-button">Manage Users</button></a>
            </div>
            <div class="nav-item">
                <a asp-area="" asp-page="/Admin/ManageContent/Orders/Index"><button class="nav-button">Manage Orders</button></a>
            </div>
            <div class="right">
                <div class="nav-item">
                    <a asp-area="" asp-page="/Login/Logout"><button class="nav-button">Log Out</button></a>
                </div>
            </div>

        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2024 - Eden Yusof-Ioannidis - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>