@page
@model FribergRentals.Pages.Admin.ManageContent.Admins.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card-center">
    <h1>Create Admin</h1>


    <form method="post">
        <div class="card-text">
            <div class="validation-error" asp-validation-summary="ModelOnly"></div>
            <div class="form-pair">
                <label class="input-label" asp-for="Admin.Email"></label>
                <input class="input-textbox" asp-for="Admin.Email" />
                <p><span class="validation-error" asp-validation-for="Admin.Email"></span></p>
            </div>
            
            <div class="form-pair">
                <label class="input-label" asp-for="Admin.Password"></label>
                <input class="input-textbox" asp-for="Admin.Password" />
                <span class="validation-error" asp-validation-for="Admin.Password"></span>
            </div>
            <div class="form-pair">
                <label class="input-label" asp-for="Admin.VerifyPassword"></label>
                <input class="input-textbox" asp-for="Admin.VerifyPassword" />
                <span class="validation-error" asp-validation-for="Admin.VerifyPassword"></span>
            </div>
        </div>
        <div class="button-row">
            <input class="button positive" type="submit" value="Create" />
            <a asp-page="/Admin/ManageContent/AppUsers/Index"><button type="button" class="button">Back</button></a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
