@page
@model FribergRentals.Pages.Login.CreateSuccessfulModel
@{
}

<div class="card-center">
    <p class="card-text">Successfully created account!</p>
    <a asp-page="./Login"><button class="button">Log in</button></a>
</div>