@page
@model FribergRentals.Pages.Login.LoginSuccessfulModel
@{
}

@if (@Model.User != null)
{
    <div class="card-center">
        <p class="card-text">Successfully logged in as @Model.User.Email</p>
    </div>
    
}
else
{
    <p>Login failed</p>
}
