@page
@model FribergRentals.Pages.AppUser.Cars.BrowseModel
@{
    ViewData["Title"] = "Browse";
}

<h1 class="card-title">Our Cars</h1>
<div class="car-grid">
    @foreach (var item in Model.Car)
    {
        <div class="car-grid-item">
            <img class="car-grid-thumbnail" src="@Html.DisplayFor(modelItem=>item.ImageUrl)" />
            <p class="car-grid-title">@Html.DisplayFor(modelItem => item.Brand) @Html.DisplayFor(modelItem => item.Model)</p>
            <a asp-page="./Details" asp-route-id="@item.Id">
                <button class="car-grid-button">
                    Show More
                </button>
            </a>
        </div>
    }
</div>



