@page
@model FribergRentals.Pages.Admin.ManageContent.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
    if (string.IsNullOrEmpty(HttpContext.Request.Cookies["SessionToken"]))
    {
        HttpContext.Response.Redirect("/Login/SessionExpired");
    }
}

<div class="card-center">
    <h1>Edit Order</h1>
    <form method="post">
        <div class="card-text">
            <div class="validation-error" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Order.Id" />
            <div class="form-pair">
                <label class="input-label" asp-for="Order.PickUpDate"></label>
                <input class="input-textbox" asp-for="Order.PickUpDate" />
                <span class="validation-error" asp-validation-for="Order.PickUpDate"></span><br />
            </div>

            <div class="form-pair">
                <label class="input-label" asp-for="Order.ReturnDate"></label>
                <input class="input-textbox" asp-for="Order.ReturnDate" />
                <span class="validation-error" asp-validation-for="Order.ReturnDate"></span><br />
            </div>
        </div>
        <div class="button-row">
            <input class="button positive" type="submit" value="Save" />
            <a asp-page="./Index"><button type="button" class="button">Back</button></a>
        </div>
    </form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
