:root {
    --grey: rgb(234, 234, 234);
    --orange: #DA5615ff;
    --almostblack: #112127ff;
    --white: #FAFBFBff;
    --black: #112025ff;

    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;
    --fw-extrabold: 900;


    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding-bottom: 150px;
}


.button{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: var(--fw-bold);
    border: none;
    border-radius: 6px;
    margin-bottom: 2px;
    border-bottom: 5px solid var(--almostblack);
    background-color: var(--white);
    transition-duration: 0.2s;
    height: 65px;
    width: 130px;
}

.danger {
    background-color: rgb(255, 134, 125);
    align-content:center;
}

.positive {
    background-color: rgb(224, 255, 245);
}

.button:hover{
    height: 75px;
}

.button-row{
    display:flex;
    gap: 10px;
    margin-top: 10px;
    justify-content:center;
}

.adminButtons{
    height: 35px;
    width: 80px;
}

.adminButtons:hover{
    height:41px;
}


.validation-error{
color: red;
opacity: 100%;
font-weight: var(--fw-light);
text-align: center;
margin: 0;
}

.card-title{
    margin-top: 2.5%;
    text-align: center;
}

footer{
    background-color: var(--almostblack);
    height: 70px;
    width: 100%;
    margin-bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}



.container{
    background-color: var(--grey);
    padding-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    display:grid;
    grid-template-columns: 1fr;
}

.container {
    max-width: 500px;
    padding-left: 20px;
}

.admin-page-container{
    text-align:center;
    margin-bottom: 15px;
}

form{
    justify-content:flex-start;
}

.form-row {
    margin-bottom: 10px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
}

.form-row input {
    width: 50%;
}

.button-container {
    display: flex;
    margin-top: 10px;
}

.admin-table{
    border-collapse:collapse;
    padding: 100px;
}

.admin-table-container{
    display:flex;
    justify-content:center;
    margin-block:40px;
}

.admin-thead{
    text-align:left;
}

.admin-tr{

}

.admin-tr:hover {
  
}

.hover:hover {
    background-color: RGB(221, 236, 237);
}

.admin-th {
    padding-left: 30px;
    border-bottom: 2px solid var(--almostblack);
    font-weight: var(--fw-bold);
    font-size:20px;
}

.admin-admin.tbody{
}

.admin-td {
    padding-top: 5px;
    padding-left: 30px;
}

.table-thumbnail{
    width:120px;
    height: 90px;
    object-fit:cover;
    border-radius: 8px;
}

.car-grid{
    margin-top: 2.5%;
    margin-inline: 5%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
}

.car-grid-item{
    margin-bottom: 5%;
}

.car-grid-thumbnail{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom:0;
    border-radius: 10px;
}

.car-grid-title{
    font-weight: var(--fw-bold);
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.car-grid-button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: var(--fw-bold);
    border: none;
    border-radius: 6px;
    margin-bottom: 2px;
    border-bottom: 5px solid var(--almostblack);
    background-color: var(--grey);
    transition-duration: 0.2s;
    height: 65px;
    width: 180px;
    margin-inline: 35%
}

.car-grid-button:hover{
    height: 75px;
}

.index-background {
    background-image: url(https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.index-page-title{
    font-size: 70px;
    text-align: center;
}

.card-center {
    margin-top: 2.5%;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-bottom: 6px solid black;
    padding-bottom: 30px;
    padding-inline: 5%;
    align-items: center;
    max-width: max-content;
    margin-inline: auto;
}

.card-text{
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    max-width: 60ch;
}

.wrap{
    overflow-wrap: break-word;
    word-break: break-all;
}

.input-label{
    margin-right: 10px;
    font-weight: var(--fw-bold);
    font-size: 16px;
    min-width: 80px;
    flex: 0.5;
    text-align: right;
}

.input-textbox{
    margin:0;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    flex: 0.5;
}

.form-pair{
    display:flex;
    align-items: center;
    padding-inline: 30px;
    margin-bottom: 5px;
}

.card-image{
    width: 643px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

input[type="date"]{
    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-bold);
    font-size: 16px;
    height: 30px;
    margin-right: auto;
    vertical-align: text-bottom
}

.icon{
    display:inline-block;
    vertical-align: text-bottom;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    padding-top: 50px;
    margin-inline: 500px;
}

.separator{
    background-color: var(--almostblack);
}