@page
@model FribergRentals.Pages.Admin.ManageContent.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}



<div class="card-center">
    <form method="post">
        <h1>Create a new car</h1>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-pair">
            <label class="input-label" asp-for="Car.Brand"></label>
            <input class="input-textbox" asp-for="Car.Brand" />
            <span class="validation-error" asp-validation-for="Car.Brand"></span>
        </div>

        <div class="form-pair">
            <label class="input-label"  asp-for="Car.Model"></label>
            <input class="input-textbox" asp-for="Car.Model" />
            <span class="validation-error" asp-validation-for="Car.Model"></span>
        </div>

        <div class="form-pair">
            <label class="input-label" asp-for="Car.Description"></label>
            <input class="input-textbox" asp-for="Car.Description" />
            <span class="validation-error" asp-validation-for="Car.Description"></span>
        </div>

        <div class="form-pair">
            <label class="input-label" asp-for="Car.Price"></label>
            <input class="input-textbox" asp-for="Car.Price" />
            <span class="validation-error" asp-validation-for="Car.Price"></span>
        </div>

        <div class="form-pair">
            <label class="input-label" asp-for="Car.ImageUrl"></label>
            <input class="input-textbox" asp-for="Car.ImageUrl" />
            <span class="validation-error" asp-validation-for="Car.ImageUrl"></span>
        </div>

        <div class="button-row">
            <input type="submit" value="Create" class="button positive" />
            <a asp-page="Index"><button type="button" class="button">Back to List</button></a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
