@page
@model FribergRentals.Pages.Admin.ManageContent.AppUsers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card-center">
    <h1>Create New User</h1>
    <form method="post">
        <div class="card-text">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-pair">
                <label class="input-label" asp-for="User.Email"></label>
                <input class="input-textbox" asp-for="User.Email" />
                <span class="validation-error" asp-validation-for="User.Email"></span>
            </div>
            <div class="form-pair">
                <label class="input-label" asp-for="User.Password"></label>
                <input class="input-textbox" asp-for="User.Password" />
                <span class="validation-error" asp-validation-for="User.Password"></span>
            </div>
            <div class="form-pair">
                <label class="input-label" asp-for="User.VerifyPassword"></label>
                <input class="input-textbox" asp-for="User.VerifyPassword" />
                <span class="validation-error" asp-validation-for="User.VerifyPassword"></span>
            </div>
        </div>
        <div class="button-row">
            <input class="button positive" type="submit" value="Create" />
            <a asp-page="Index"><button type="button" class="button">Back</button></a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
