@page
@model FribergRentals.Pages.Admin.ManageContent.AppUsers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="card-center">
    <h1>Delete</h1>
    <h3>Are you sure you want to delete this user?</h3>
    <div class="card-text">
        <span class="input-label">
            @Html.DisplayNameFor(model => model.User.Email):
        </span>
        @Html.DisplayFor(model => model.User.Email)<br />
    </div>
    
    <form method="post">
        <input type="hidden" asp-for="User.Id" />
        <div class="button-row">
            <input class="button danger" type="submit" value="Delete" />
            <a asp-page="./Index"><button type="button" class="button">Back</button></a>
        </div>
      
    </form>
</div>
