@page
@model FribergRentals.Pages.Admin.ManageContent.AppUsers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="card-center">
    <h1>Edit</h1>
    <form method="post">
        <div class="card-text">
            <div class="validation-error" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-pair">
                <label class="input-label" asp-for="User.Email"></label>
                <input class="input-textbox" asp-for="User.Email" />
                <span class="validation-error" asp-validation-for="User.Email"></span><br />
            </div>

            <div class="form-pair">
                <label class="input-label" asp-for="User.Password"></label>
                <input class="input-textbox" asp-for="User.Password" />
                <span class="validation-error" asp-validation-for="User.Password"></span><br />
            </div>

            <div class="form-pair">
                <label class="input-label" asp-for="User.VerifyPassword"></label>
                <input class="input-textbox" asp-for="User.VerifyPassword" />
                <span class="validation-error" asp-validation-for="User.VerifyPassword"></span><br />
            </div>
        </div>
        <div class="button-row">
            <input class="button positive" type="submit" value="Save" />
            <a asp-page="./Index"><button type="button" class="button">Back</button></a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
